/* CLASSES */


/*Texto*/

.azulado{
    text-decoration: none;
    color: #fff;
    font-size: 1rem;
}
.azulado:hover{
    color: lightskyblue;
}
.strong{
    font-weight: bolder;
    font-size: 30px;
}
.blanco{
    color: white;
}